.card-container {
	max-height: 200px;
	padding: 20px;
}

.big-card {
	height: 100%;
	width: 100%;
}

.right-big-card {
	height: 65%;
}

.list-of-countries {
	max-height: 94vh;
	width: 100%;
	overflow-y: scroll;
}

.single-country {
	color: white;
}

.my-row {
	height: 100%;
}

.card.border-primary.transparent {
	background-color: rgba(184, 191, 211, 0.1);
	color: #20abe2;
}

.select-country-button.w-100 {
	background-color: rgba(184, 191, 211, 0.1);
	height: 30px;
	padding: 0;
	border: 1px solid #20abe25e;
}

.select-country-button.w-100:hover {
	color: #fff;
	background-color: #061a33;
	border-color: #020e1d;
}

.card-body.text-primary {
	padding: 0;
	max-height: -webkit-fill-available;
	overflow-y: scroll;
}

#globalArea {
	width: 100%;
	height: 100vh;
}

.top-info-data {
	position: absolute;
	top: 0;
	width: 100%;
	color: #20abe2;
	padding-left: 15px;
	pointer-events: none;
}

.bottom-info-data {
	position: absolute;
	bottom: 0;
	padding-bottom: 0;
	width: 100%;
	color: #20abe2;
	padding-left: 15px;
}

.bottom-card {
	height: 15vh;
}
.bottom-card-list-data {
	overflow-y: scroll;
}

.card-header.text-primary {
	padding: 0;
	text-align: center;
}

.row.card-container {
	margin-right: 0;
}

.card-body.text-primary.bottom-card-list-data {
	padding: 5px;
}
.red {
	color: rgb(255, 255, 255);
}

.green {
	color: rgb(17, 150, 17);
}

.bottom-right-card {
	position: absolute;
	bottom: 0;
}

.background-image {
	width: 100%;
	height: 100%;
	position: absolute;
}

.overlay {
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	background: rgba(1, 13, 20, 0.521);
	text-align: center;
}

html {
	overflow: scroll;
	overflow-x: hidden;
}
::-webkit-scrollbar {
	width: 0px;
	height: 0px; /* Remove scrollbar space */
	background: transparent; /* Optional: just make scrollbar invisible */
}
