.col-12.right-bottom-card {
	padding: 0;
}

.big-card {
	height: 100%;
	width: 100%;
}

.list-of-countries {
	max-height: 94vh;
	width: 100%;
	overflow-y: scroll;
}

.card.transparent {
	background-color: rgba(184, 191, 211, 0.1);
	color: rgb(61, 200, 255);
	box-shadow: 0 4px 8px 0 rgba(61, 200, 255, 0.479), 0 6px 20px 0 rgba(61, 200, 255, 0.473);
}

.link-lapa {
	color: #3dc8ff;
}
.link-lapa:hover {
	background-color: #061a33;
	color: #3dc8ff;
	text-decoration: none;
}

.select-country-button.w-100 {
	color: #3dc8ff;
	height: 30px;
	padding: 0;
	border: 1px solid #20abe25e;
}

.select-country-button.w-100:hover,
.select-country-button.w-100:focus {
	color: #3dc8ff;
	background-color: #061a33;
	border-color: #020e1d;
}

.card-body.cvd-card-body {
	padding: 0;
	max-height: -webkit-fill-available;
	overflow-y: scroll;
}

#globalArea {
	width: 100%;
	height: 100vh;
}

.top-info-data {
	position: absolute;
	top: 0;
	width: 100%;
	color: #3dc8ff;
	padding-left: 15px;
	pointer-events: none;
}

.bottom-info-data {
	position: absolute;
	bottom: 0;
	padding-bottom: 0;
	width: 100%;
	color: #3dc8ff;
	padding-left: 15px;
}

.bottom-card {
	height: 20vh;
}
.bottom-card-list-data {
	overflow-y: scroll;
}

.card-header.cvd-card-header {
	padding: 0;
	text-align: center;
}

.row.card-container {
	margin-right: 0;
}

.card-body.cvd-card-body.bottom-card-list-data {
	padding: 5px;
}

.bottom-right-card {
	position: absolute;
	bottom: 0;
}

.background-image {
	width: 100%;
	height: 100%;
	position: absolute;
}

.overlay {
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	background: rgba(1, 13, 20, 0.808);
	text-align: center;
}

.big-card-data-title {
	font-size: 2vh;
	text-align: center;
}
.big-card-data-text {
	font-size: 2.7vh;
	border-bottom: #20abe2 1px solid;
	text-align: center;
}

.border-primary {
	color: #3dc8ff;
}

.col-12.text-center.no-padding {
	padding: 0px;
}

html {
	overflow: scroll;
	overflow-x: hidden;
}
::-webkit-scrollbar {
	width: 0px;
	height: 0px; /* Remove scrollbar space */
	background: transparent; /* Optional: just make scrollbar invisible */
}
